.wrapper {
  .title {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .handleZone {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    .dropzone {
      border: 1px dashed black;
      padding: 1rem 3rem;
    }
  }
}
