.wrapper {
  .title {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .handleZone {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .dropzone {
      border: 1px dashed black;
      padding: 1rem 3rem;
    }
  }
  :global {
    .ant-table-thead > tr > th {
      height: 50px; // Thiết lập chiều cao là 50px
    }
  }
}
