.wrapper {
  background: url('../../../public/bgMain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .loginForm {
    background-color: rgba(234, 234, 234, 0.8);
    border: 2px solid rgb(49, 44, 44);
    padding: 2rem;
    border-radius: 12px;
    .label {
      color: rgb(39, 35, 35);
      font-weight: 550;
    }
    .remember {
      margin-top: 1rem;
    }
    .submitBtn {
      width: 100%;
      outline: none;
      border: none;
      margin-top: 1rem;
    }
  }
}
:global {
  label {
    &.ant-form-item-required {
      &::before {
        display: 'none';
      }
    }
  }
}
