.wapper {
    .title {
      font-size: 1.4rem;
      text-align: center;
    }
    .control {
      margin-top: 15px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .actionBtn {
    display: flex;
    align-items: center;
    gap: 0 1rem;
  }
  .bottom{
    display: flex;
  }