.wapper{

    .control{
        margin-top: 15  px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
.btn:focus{
    outline: none;
}

.wrapperModal {
    padding: 2.5rem 1rem 0;
    .bottom {
      margin-top: 4rem;
    }
  }

